
<nav class="nav">
   <div class="container">
        <a href="/" class="current"><img src="images/APC-logo.png" alt=""></a>
            
        
        <ul>
            <li><a href="about" class="active">About</a></li>
        </ul>
    </div>
</nav>

    
    