<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accureate Property Concepts</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">



<!-- STYLESHEET -->
<link rel="stylesheet" href="stylesheets\styles.css">



<!-- Adobe Fonts -->
<link rel="stylesheet" href="https://use.typekit.net/qmu8ili.css">


</head>


<body class="d-flex flex-column" style="height: 100vh;">

    

    <%- include('../partials/navbar') %>



   



    <%- body %>



   
   <%- include('../partials/footer') %>

<script src="javascripts\index.js"></script>



<!-- <script src="/javascripts/validateForms.js"></script> -->




</body>
</html>