<% layout('layouts/boilerplate') %>





<div class="slider-container">
  <div class="left-slide">
    <div style="background-color: #206498">
      <h1>Sell your house fast!!!</h1>
      
    </div>
    <div style="background-color: #aa6a53">
      <h1 style="color: #0c230e">Get A Fair Cash Offer!</h1>
    </div>
    <div style="background-color: #D8D9DA">
      <h1 style="color: #A64B2A">We Will Buy In It's Current Condition!</h1>
    </div>
    <div style="background-color: #5272F2">
      <h1 style="color: #E4D1B9">We Buy Homes In Ventura County!</h1>
    </div>
  </div>
  <div class="right-slide">
    <div style="background-image: url('https://images.unsplash.com/photo-1617141372324-a37d164e08ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2042&q=80')"></div>
    <div style="background-image: url('https://images.unsplash.com/photo-1635111300313-5b29bb9a8a90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80')"></div>
    <div style="background-image: url('https://images.unsplash.com/photo-1629682160476-160736c74738?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80')"></div>
    <div style="background-image: url('https://images.unsplash.com/photo-1416331108676-a22ccb276e35?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2067&q=80')"></div>

  </div>
  <div class="action-buttons">
    <button class="down-button">
      <img src="images/down-arrow.png" alt="">
    </button>
    <button class="up-button">
      <img class="arrow" src="images/up-arrow.png" alt="">
    </button>
  </div>
</div>



<section class="text-section">
<div class="text">
  <img src="images/handshake.png" alt="" class="handshake-img">
  <h1>What We Do</h1>
  <ul class="list-text">
    <li class="list-item-text"><img src="images/check.png" alt="" class="check-img">We give cash offers on homes</li>
    <li class="list-item-text"><img src="images/check.png" alt="" class="check-img">Because we pay cash for your house, we can give you the highest offer possible, so you can walk away with the most money.</li>
    <li class="list-item-text"><img src="images/check.png" alt="" class="check-img">Upon receiving your offer, we will take you by the hand and walk you through the entire selling process, so you can feel comfortable at every stage.</li>
  </ul>
</div>
</section>




<!-- FORM SECTION -->

 <section class="form-section">
 <div class="form-container">
  <h1>Check Out Our Newsletter!</h1>
  <form action="/subscribe" method="POST">

    <div class="form-control">
        <input type="text" name="email" class="form-control" required>
      <label>Email</label>
    </div>

    <button class="ripple" type="submit">Subscribe</button>

  </form>
</div>
</section>

<hr>
<div class="contact">
  <h1>Get In Touch With Us!</h1>
  <ul>
    <li>Info@accuratepropertyinvestments.com</li>
    <li>Ventura Ca. 93004</li>
  </ul>
  
</div>


<div class="cash-offer">
  <div class="container">
    <h1>Get A Fair Cash Offer For Your Unwanted Property</h1>
  </div>
</div>


  <script src="javascripts\index.js"></script>