<% layout('layouts/boilerplate')%>

<div class="success">
<h1>Thank you for subscribing to our newsletter!</h2>
<h1>We are working towards bringing you great conent and news on the real estate market!</h3>
<div class="success-img">
<img src="images/price-up.png" alt="">
</div>
</div>